  <div class="form">

  <%= form_for([:admin, @item]) do |f| %>
    <div><%= f.text_field :title, placeholder: "Item title"  %><br></div><br>
    <div><%= f.text_field :description, placeholder: "Item description" %><br></div><br>
    <div><%= f.text_field :price, placeholder: "Price" %><br></div><br>
        <div class="collection"><%= f.collection_check_boxes(:category_ids, @categories, :id, :name) %><br></div><br>
        <div><%= f.label :status %><br></div><br>
  <div>Retired <%= f.radio_button :status, false  %><br></div><br>
  <div>Active <%= f.radio_button :status, true  %><br></div><br>
  <div><%= f.label "Upload an Image"%><br></div><br>
  <div><%= f.file_field :image %><br></div><br>
  <div><%= f.submit "Submit Item" %></div><br>
<% end %>
  </div>
