<h1>Orders</h1>

<div class="user_orders_list">
<div class="center_div">
<table id="first_table">
    <tr>
      <th>Order</th>
      <th>Subtotal</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Status</th>
    </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to "#{order.id}", user_order_path(order) %></td>
      <td><%= order.subtotal %></td>
      <td><%= order.created_at %></td>
      <td><%= order.updated_at %></td>
      <td><%= order.status %></td>
    </tr>
  <% end %>
</table>
</div>
</div>
</ul>