<div class="dashboard">
  <div class="trans-box-dashboard">


<<<<<<< HEAD
<h1>Admin Dashboard - <%= current_user.username %></h1>
<%= current_user.picture.url(:small) %>
=======
<h1>Admin Dashboard - Welcome <%= current_user.name %>!</h1>

>>>>>>> master
<%= link_to "All Items", admin_items_path %>
<%= link_to "Add New Item", new_admin_item_path %>
  </div>
</div>
