Hi <%= @order.user.name %>!

<p>You have successfully placed an order with Hipster Bytes.</p>
<p>Please find the details of order below.</p>

<p>Thanks,</p>
<p>The HB Dev Team</p>

<h1>Order Information</h1>

<h3>Purchaser: <%= @order.user.name %> - email: <%= @order.user.email %></h3>
  <h4>ordered: <%= @order.date_of_order(@order.created_at) %></h4>
    <h4>Current Status: <%= @order.show_status %></h4>

<table>
  <tr>
    <td>Item Name</td>
    <td>Item Quantity</td>
    <td>Item Price</td>
    <td>Item Subtotal</td>
  </tr>
  <% @order.order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.item.title %></td>
    <td><%= order_item.quantity %></td>
    <td><%= number_to_currency(order_item.item.price / 100.00) %></td>
    <td><%= number_to_currency(order_item.item.price * order_item.quantity / 100.00) %></td>
  </tr>
  <% end %>
  <tr>
    <td>Order Total - <%= number_to_currency(@order.total.to_f/100.000) %> </td>
  </tr>
</table><br><br>
