<h1>Order Dashboard</h1>
  <div class="order-dashboard-page" data->

    <div class="admin_status_list">
      <h3>Order Summary</h3>
      <table>
        <tr>
          <th>Ordered</th>
          <th>Completed</th>
          <th>Canceled</th>
        </tr>
        <tr>
          <td><%= @orders.number_currently_ordered %></td>
          <td><%= @orders.number_currently_completed %></td>
          <td><%= @orders.number_currently_cancelled %></td>
        </tr>
      </table>

    </div><br>

<%= render "admin/orders/filter" %>

    <div class="admin_orders_list">
    <div class="center_div">
      <h3>All Orders</h3>
    <table id="first_table">
        <tr>
          <th>Order_id</th>
          <th>User_id</th>
          <th>Subtotal</th>
          <th>Created_At</th>
          <th>Last_Updated_At</th>
          <th>Status</th>
        </tr>
    <div class="orders">
      <% @orders.each do |order| %>
        <tr class="order" data-status="<%= order.status %>">
          <td><%= link_to "#{order.id}", admin_order_path({order_id: order.id}) %></td>
          <td><%= order.user_id %></td>
          <td><%= order.subtotal %></td>
          <td><%= order.date_created %></td>
          <td><%= order.date_updated %></td>
          <td class="order_status"><%= order.status %></td>
        </tr>
      <% end %>
    </div>
    </div>
    </table>
  </div>
</div>
