<h1>Order Dashboard</h1>

<div class="admin_orders">

<table border=2px, cell-padding="5">
    <tr>
      <th>Order_id</th>
      <th>User_id</th>
      <th>Subtotal</th>
      <th>Created_At</th>
      <th>Last_Updated_At</th>
      <th>Status</th>
    </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to "#{order.id}", order_path(order) %></td>
      <td><%= order.user_id %></td>
      <td><%= order.subtotal %></td>
      <td><%= order.created_at %></td>
      <td><%= order.updated_at %></td>
      <td><%= order.status %></td>
    </tr>
  <% end %>
</table>
</div>
