<%= form_for(@user, url: user_path, html: {multipart: true}) do |f| %>
  <p><%= f.text_field :name, placeholder: "Name" %></p>
  <p><%= f.text_field :username, placeholder: "Username" %></p>
  <p><%= f.text_field :email, placeholder: "Email" %></p>
  <p><%= f.password_field :password, placeholder: "Password" %></p>
  <p><%= f.password_field :password_confirmation, placeholder: "Password confirmation" %></p>
  <p><%= f.label :picture, "Attach a Picture" %></p>
  <p><%= f.file_field :picture %></p>
  <p><%= f.submit %></p>
<% end %>

<br><br>

Already a user?
<%= button_to "Login", login_path, method: :get %>
