<div class="user-show">

<h1><%= "#{current_user.name} Dashboard" %></h1>

<%= image_tag current_user.picture.url(:small) %>
<%= button_to "Edit Profile", edit_user_path, method: :get %>
<%= button_to "Delete", user_path, method: :delete %>

<%= button_to "Order History", user_orders_path(user_id: current_user.id), method: :get %>

</div>
