<h1>Would you like to pay now?</h1>

<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: <%= number_to_currency(current_user.orders.first.subtotal / 100.0) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Checkout Totals"
          data-amount="<%= current_user.orders.first.subtotal %>"></script>
<% end %>


<%= button_to("No thanks, Ill pay later.", current_user, method: 'get') %>
