<div class="checkouts-page">
  <h2>Your Cart</h2>
  <table border = 2px >
    <tr>
      <td>Item</td>
      <td>Price</td>
      <td>Quantity</td>
      <td>+/-</td>
      <td>Subtotal</td>
      <td>Remove</td>
    </tr>
    <tr>
  <% @items.each do |item| %>
      <td><%= item.title %></td>
      <td><%= number_to_currency(item.price.to_f/100.00) %></td>
      <td><%= @cart.quantity(item.id.to_s) %></td>
      <td><%= button_to  "+", checkout_increase_path(item_id: item.id)%><%= button_to  "- ", checkout_decrease_path(item_id: item.id)%></td>
      <td><%= number_to_currency(@cart.subtotal[item.id].to_f/100.00) %></td>
      <td><%= button_to "Remove", checkout_remove_path(item_id: item.id)%></td>
    </tr>
  <% end %>
    <tfoot>
      <tr>
        <td>Total</td>
        <td><%= number_to_currency(@cart.total.to_f/100.00) %></td>
      </tr>
    </tfoot>
  </table>

  <% if current_user %>
  <%= button_to "Checkout", checkout_confirmation_path, method: :get %>
  <% else %>
  <%= button_to "Checkout", new_user_path(origin: {destination: "checkout"}), method: :get %>
  <% end %>
</div>
