
<div class="item-show">
    <div class="thumbnail">
      <%= image_tag @item.image.url(:thumb) %>
      <div class="caption">
        <h2><%= @item.title %></h2>
        <p><%= @item.description %></p>
        <p><%= number_to_currency(@item.price.to_f / 100.00) %></p>
        <%= button_to "Add To Cart", checkout_path(item_id: @item.id), method: :post %>
      </div>
    </div>
</div>
